<?xml version="1.0" encoding="UTF-8"?>
<wps:ExecuteResponse xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 http://schemas.opengis.net/wps/1.0.0/wpsExecute_response.xsd" xml:lang="en" service="WPS" serviceInstance="http://SERVERURL/geoserver/ows?" version="1.0.0">
   <wps:Process wps:processVersion="1.0.0">
      <ows:Identifier>gs:TemporalStatistics</ows:Identifier>
      <ows:Title>TemporalStatistics</ows:Title>
      <ows:Abstract>Temporal Statistics</ows:Abstract>
   </wps:Process>
   <wps:Status creationTime="2017-05-24T08:48:28.873Z">
      <wps:ProcessSucceeded>Process succeeded.</wps:ProcessSucceeded>
   </wps:Status>
   <wps:ProcessOutputs>
      <wps:Output>
         <ows:Identifier>QUOTATION</ows:Identifier>
         <ows:Title>Quotation offering</ows:Title>
         <wps:Data>
         #foreach( $output in $outputs )
         	<wps:ComplexData mimeType="application/json">$output</wps:ComplexData>
         #end
         </wps:Data>
      </wps:Output>
   </wps:ProcessOutputs>
</wps:ExecuteResponse>